# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Datasets and Models
backend/dataset/
backend/dummy_dataset/
backend/*.zip
backend/*.pth
backend/*.pt
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
